<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Home</title>
</head>
<body>
   <center> <h2>Welcome </h2></center>
   
   <center><a href="{% url 'Guest:login' %}">LOGIN</a><br><br>
    <a href="{% url 'Guest:UserRegister' %}">USER REGISTRATION</a><br><br>
   
   <a href="{% url 'Guest:mvdregistration' %}">MVD REGISTRATION</a><br><br>
   <a href="{% url 'Guest:RtoRegister' %}">RTO REGISTRATION</a><br><br>
</center>
   


    
</body>
</html>